
.form-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    z-index: 2000;
    /* background: rgba(180, 239, 255, 0.5); */
    background: rgba(2, 2, 57, 0.5);
    border: 2px solid rgba(41, 244, 255, 0.2);
    box-shadow: 0 0 5px 5px rgb(105, 237, 255);
}

.form-container h1{
    color: rgba(183, 215, 255, 0.5);
    text-shadow: 0 0 1px rgb(143, 147, 255);
}

.btn-submit{
    background-color: rgb(61, 0, 119);
}

.form-error{
    color: rgb(185, 0, 0);
}

#forgotPassword{
    cursor: pointer;
    color: rgb(185, 0, 0);
}

#forgotPassword:hover{
    text-decoration: underline;
    color: rgb(255, 57, 57);
}

@media (max-width: 900px) {
    .form-container{
        width: 100%;
    }
}